<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - May 20th</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>What is Version Control? Getting Started with git</td> </tr>
      <tr> <td>09:50</td>  <td>Break</td> </tr>
      <tr> <td>10:00</td>  <td>Tracking changes</td> </tr>
      <tr> <td>10:50</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Exploring History and Ignoring things</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 2 - May 27th</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Remotes on GitHub and collaborating</td> </tr>
      <tr> <td>09:50</td>  <td>Break</td> </tr>
      <tr> <td>10:00</td>  <td>Managing conflicts</td> </tr>
      <tr> <td>10:50</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Licensing, hosting, Open Science</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
